@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2rem;
}

.embed iframe {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: none;
  min-height: 100vh;
}

@font-face {
  font-family: "Editorial New";
  src: url("../public/fonts/EditorialNew-Ultralight.otf");
}
